ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
WUYING_REGION_ID=cn-shanghai
WUYING_ENDPOINT=
WUYING_INSTANCE_IDS=acp-xxxxxxxxxxxxxxxx
WUYING_KEY_PAIR_ID=
WUYING_AUTO_ATTACH_KEY_PAIR=false

ADB_PATH=adb
ADB_VENDOR_KEYS=
ADB_CONNECT_TIMEOUT_SECONDS=30
ADB_READY_TIMEOUT_SECONDS=120
WUYING_START_ADB_VIA_API=true
WUYING_MANUAL_ADB_ENDPOINT=

DOUBAO_PACKAGE_NAME=com.larus.nova
DOUBAO_LAUNCH_ACTIVITY=
DOUBAO_RESPONSE_TIMEOUT_SECONDS=120
DOUBAO_RESPONSE_SETTLE_SECONDS=4
DOUBAO_OUTPUT_DIR=data/runs

DOUBAO_ENTER_CHAT_SELECTORS_JSON=[{"resourceId":"com.larus.nova:id/right_img","descriptionContains":"创建新对话"},{"text":"聊聊新话题"},{"text":"豆包"}]
DOUBAO_SWITCH_TO_TEXT_INPUT_SELECTORS_JSON=[{"resourceId":"com.larus.nova:id/action_input","description":"文本输入"},{"resourceId":"com.larus.nova:id/action_input"},{"text":"按住说话"}]
DOUBAO_INPUT_SELECTORS_JSON=[{"textContains":"问点什么"},{"descriptionContains":"问点什么"},{"className":"android.widget.EditText"}]
DOUBAO_SEND_SELECTORS_JSON=[{"description":"发送"},{"text":"发送"}]
DOUBAO_RESPONSE_SELECTORS_JSON=[]
